.box {
    width: 200px;
    height: 200px;
}

.red {
    background-color: #c0392b;
}

.green{
    background-color: #27ae60;
}

.blue {
    background-color: #2980b9;
}

.purple {
    background-color: #8e44ad;
}

.orange {
    background-color: #e15f41;
}

.deepRose {
    background-color: #c44569;
}

.lightBlue {
    background-color: #63cdda;
}

.boxLarge {
    width: 500px;
    height: 500px;
}